* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/*Logomarca PizzaStoom*/

.logo-pizza {
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 10px;
  margin-left: 30px;
}

/*cabeçalho*/

header {
  background-color: rgb(1, 115, 188);
  display: flex;
  justify-content: start;
  width: auto;
  height: auto;
  margin-left: 80px;
  margin-right: 80px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px;
}

/*Titulo site*/

h1 {
  color: white;
  font-size: 30px;
  cursor: pointer;
  font-weight: 700;
}

.caixa-titulo {
  padding: 7px;
}

/*Subtitulo*/

p {
  color: rgb(245, 165, 77);
  font-size: 16px;
  text-align: justify;
  cursor: pointer;
  font-weight: 700;
}

/*card*/

section {
  width: 1000px;
  height: 350px;
  border-radius: 10px;
  background-color: rgb(235, 235, 235);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 15px;
}

.pizza-do-dia {
  width: 210px;
  height: 250px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.card-pizza-day {
  color: rgb(90, 90, 90);
  padding-bottom: 5%;
}

.title-pizza-napo {
  color: rgb(18, 18, 54);
  font-weight: 700;
  font-size: 150%;
}

ul {
  list-style-type: none;
  margin: 6%;
  line-height: 2;
}

.massa {
  color: rgb(90, 90, 90);
  font-weight: 900;
}

.ingredientes {
  display: flex;
  text-align: justify;
  display: flex;
  justify-content: center;
}

.valor {
  color: green;
  font-size: 200%;
}

.recheio {
  color: rgb(18, 18, 54);
}

.svg-check {
  width: 30px;
  height: 30px;
  padding-left: 10px;
}

button {
  border-radius: 10px;
  padding: 5px 20px;
  border: none;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green;
  color: white;
  font-size: 100%;
  font-weight: 500;
  letter-spacing: 2px;
}

button:hover {
  background-color: rgb(0, 160, 0);
  cursor: pointer;
}

.button-value {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.create-pizza {
  width: 74%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("image/create-pizza.jpg");
  background-size: cover;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.create-pizza a {
  color: white;
  font-size: 42px;
  text-decoration: none;
  
}

.step-by-step li {
  display: inline;

  color: black;
  padding: 10px;
  background-color: blue;
  border-radius: 50%;
}

.grid {
  display: grid;
  margin: auto;
  grid-template-columns:  1fr 1fr;
  grid-gap: 10px;
  padding: 10px;
  max-width: 1000px;
  max-height: auto;
}
.grid span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 16px;
}

.grid :hover {
  border: 3px rgb(1, 115, 188) solid;
}

.titulo-create {
  display: grid;
  justify-content: center;
  padding: 20px; 
}

h3 {
  color: rgb(245, 165, 77);
  font-size: 42px;
  margin: 0px;
  font-weight: 600;
}

.sub-h3 {
  font-weight: 600;
  cursor: auto;
}

.botao {
  display: flex;
  justify-content: space-around;
}

.botao button {
    cursor: pointer;
    height: 50px;
    width: 150px;
    border-radius: 5px;
    background-color: rgb(1, 115, 188);
    color: rgb(255, 255, 255);
    font-size: 15px;
    text-transform: uppercase;
}